*{
    text-align: center;
}

#tittle {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
}
#cowboy_musk {
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 50%;
    height: 250px;
    width: 250px;
}

.row{
    display: flex;
}

.colum {
  width: 33.33%;
}

h2 {
    text-align: center;
}

a {
    color: gray;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}
#footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}